$main_color: #6c757d;

section#list-of-users-products {
  background: whitesmoke;
}

.search-bar-box {
  padding: 1.2em 0;
  border-bottom: 1px solid gainsboro;
}

.search-icon {
  width: 26px;
  vertical-align: text-bottom;
  opacity: 0.4;
}

.group-filter-form {
  display: inline;
}
.search-input {
  border: none !important;
  width: 60%;
  box-shadow: none;
  display: inline;
  background: whitesmoke;
  font-size: 1.7em !important;
  letter-spacing: 0.04em;
  &:focus {
    background: whitesmoke;
  }
}

.column {
  padding: 2em 0;
}

.search-results {
  padding: 1em 0;
}

.user-info {
}

.avatar,
.details {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.avatar {
  width: 43px;
  display: inline-block;
  margin-right: 1em;
  a {
    display: block;
    img {
      width: 100%;
      border-radius: 100%;
    }
  }
}

.total-num-of-rates {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5em;
}

.name {
  display: inline-block;
  a {
    color: $main_color;
  }
}
.book-btn {
  padding: 0.5em 2em;
  font-weight: 600;
}

.load-more-btn {
  text-align: center;
  padding: 2em;
  a {
    padding: 0.7em 3em;
  }
}
