section#list-of-users {
  background: whitesmoke;
}

.search-bar-box {
  padding: 1.2em 0;
  border-bottom: 1px solid gainsboro;
}

.search-icon {
  width: 26px;
  vertical-align: text-bottom;
  opacity: .4;
}

.search-input {
  border: none;
  width: 60%;
  display: inline;
  background: whitesmoke;
  font-size: 1.7em;
  letter-spacing: .04em;
  &:focus {
    background: whitesmoke;
  }
}

.column {
  padding: 2em 0;
}

.search-results {
  padding: 1em 0;
}